* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #ffffff, #ecf0f1);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_back {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 94%;
    top: 85%;
    z-index: 10;
    padding: 1px;
    position: sticky;
    cursor: pointer;

}

.button_back::before {
    content: "";
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.button_back::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);


}

.button_back img {
    width: 90px;
    height: 90px;
    position: relative;
    top: -20px;
    z-index: 10;
}

.button_back:hover>img {
    transition: 0.5s ease;
    transform: scale(1.2);
    top: -40px;
}

.burger {
    display: none;
    opacity: 0;
}

.menu_setting {
    display: flex;
    opacity: 1;
    position: absolute;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background-color: black;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu_setting a {
    display: block;
    color: white;
    font-size: 35px;
    margin-top: 10px;
    text-decoration: none;
}

.menu_setting a:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.hidden {
    overflow: hidden;
}

.header {
    top: -55px;
    position: relative;
    width: 90%;
    min-height: 500px;
    /* border-bottom-left-radius: 200px; */
    box-shadow: -10px 10px 50px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/IMG.webp);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    box-sizing: border-box;
    margin-left: 10px;
}

nav {
    max-width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
}

ul {
    max-width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
}

ul li a:hover {
    text-decoration: underline;
}

.icon_menu {
    width: 30px;
}

.icon_day {
    width: 30px;
}

.li_0 {
    display: none;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: 0px 0px 5px black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    right: 15%;
    position: relative;
    z-index: 10;
    transition-duration: .5s;
    transform: rotate(0deg);
    cursor: pointer;
}

.day {
    position: absolute;
    right: 7%;
    top: 55px;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    border: 2px solid rgb(252, 252, 252);
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 15px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day:hover>.icon_day {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .5s;
}

.h1 {
    margin: 0 auto;
    font-size: 38px;
    color: white;
    text-shadow: 3px 3px 10px black;
    left: 25%;
    top: 100px;
    position: relative;
}

.h1>h3:first-child {
    right: 70px;
    position: relative;
}

.h1>h3:last-child {
    left: 250px;
    position: relative;
    width: 75px;
}

.weather {
    width: 100%;
    min-height: 400px;
    box-shadow: -10px 10px 50px black;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/weather_1.webp);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body {
    margin-top: -30px;
    width: 90%;
    min-height: 1200px;
}

.weather_box {
    width: 90%;
    height: 400px;
    margin: auto auto;
}

.weather_title {
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 38px;
    color: white;
    text-shadow: 3px 3px 10px black;
    font-weight: 500;
}

.weather_header {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
}

.weather_akhalcixe,
.weather_akhalkalaki,
.weather_borjomi,
.weather_bakuriani,
.weather_vale {
    min-width: 300px;
    height: 300px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 15px gold;
    margin: 20px 10px;
    background: linear-gradient(185deg, rgba(0, 0, 0, 0.973), rgba(10, 10, 10, 0.952));
}

.transform {
    display: flex;
    flex-direction: row;
    transform: translateX(0%);
}

.akhalcixe_name,
.akhalkalaki_name,
.borjomi_name,
.bakuriani_name,
.vale_name {
    font-size: 22px;
    text-decoration: underline;
    margin-top: 10px;
}

.akhalcixe_speedName,
.akhalkalaki_speedName,
.borjomi_speedName,
.bakuriani_speedName,
.vale_speedName {
    font-size: 12px;
    margin-bottom: 10px;
}

.akhalcixe_wind,
.akhalkalaki_wind,
.borjomi_wind,
.bakuriani_wind,
.vale_wind {
    font-size: 15px;
    margin-bottom: 10px;
}

.back {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    left: 0px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 10;
}

.next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    right: 0px;
    top: calc(50% - 25px);
    cursor: pointer;
}



.money_box {
    width: 100%;
    height: 300px;
    box-shadow: -10px 10px 50px black;
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-image: url(/img/skruje.webp);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 200px;
    padding-bottom: 20px;
     box-sizing: border-box; 
}
.lari_box,
.dolar_box,
.euro_box,
.lira_box,
.rubl_box {
    width: 180px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.083);
    box-shadow: 3px 3px 10px black;
    position: relative;
}
.img_lari,
.img_rubl,
.img_euro,
.img_dolar,
.img_lira {
    position: absolute;
    width: 176px;
    height: 250px;
    top: -56px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(89, 89, 89);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, red, gold);
    border: 1px solid rgb(87, 63, 63);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(228, 226, 226);
}

.lari_box,
.dolar_box,
.euro_box,
.lira_box,
.rubl_box {
    width: 180px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px black;
    position: relative;
    margin-right: 5px;
    margin-top: 50px;
}


.img_lari,
.img_rubl,
.img_euro,
.img_dolar,
.img_lira {
    position: absolute;
    width: 176px;
    height: 250px;
    top: -56px;
    z-index: 0;
    
}
.form_lari,
.form_dolar,
.form_euro,
.form_lira,
.form_rubl{
    z-index: 1000;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto auto;
    top: 35%;
    flex-direction: column;
}
.style_one_input{
    font-size: 20px;
    border-radius: 25px;
    height: 35px;
    text-align: center;
    padding: 5px;
    width: 100px;
    background-color: #ecf0f1;
}
.style_ensver{
    border-radius: 25px;
    height: 35px;
    width: 100px;
    text-align: center;
    padding-top: 6px;
    font-size: 20px;
    background-color: cornsilk;
}
.form {
    background-image: url(/img/form_img/wallpaper_form.webp);
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.form_ball {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5.5%;
    bottom: 6%;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(230, 255, 5), rgb(242, 12, 50), orange);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black,
        -1px 1px 2px black,
        -1px -1px 2px black,
        1px -1px 2px black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0),
        -2px 2px 2px rgb(0, 0, 0),
        -2px -2px 2px rgb(0, 0, 0),
        2px -2px 2px rgb(0, 0, 0);
    font-size: 17px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    z-index: 10;
}

.form_ball:hover {
    box-shadow: 6px 6px 4px rgb(255, 255, 255),
        -6px 6px 4px white,
        -6px -6px 4px white,
        6px -6px 4px white;
    transition: 0.5s ease;
}

.form_box {
    width: 90%;
    height: 90%;
    display: none;
    background: rgba(0, 0, 0, 0.898);
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    align-self: center;
    border-radius: 30px;
}

.form_box_active {
    display: flex;
}

form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    letter-spacing: 5px;
    margin: 10px;
}

.form_name,
.form_phone,
.form_phone {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    letter-spacing: 1px;
    margin: 10px;
}

.form-control {
    width: 250px;
    height: 40px;
    border: 2px solid gold;
    margin: 10px;
    border-radius: 30px;
    padding-left: 10px;
}

.btn {
    width: 150px;
    height: 50px;
    background: linear-gradient(45deg, gold, pink);

    margin: 10px;
    cursor: pointer;

}

textarea {
    resize: none;
    margin: 20px;
    border: 2px solid gold;
    padding: 10px;
}

.btn:hover {
    border-radius: 25px;
    box-shadow: 6px 6px 4px rgb(26, 1, 255),
        -6px 6px 4px rgb(0, 255, 208),
        -6px -6px 4px rgb(13, 255, 0),
        6px -6px 4px rgb(0, 255, 251);
    transition: 0.5s ease;
}






@media only screen and (max-width: 1100px) {

    .h1 {
        font-size: 25px;
        left: -0%;
    }
        .money_box {
        height: auto;
        flex-wrap: wrap;
        background-image: none;
        padding-left: 0px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 700px) {
    ul {
        margin-right: 10px;
    }

    ul li a {
        color: black;
        font-size: 10px;
        text-decoration: none;
        margin: 2px;
    }

    .weather_title {
        font-size: 25px;
    }

    .h1 {
        font-size: 16px;
        left: 0%;
    }

    .h1>h3:last-child {
        left: 160px;
    }

    .h1>h3:first-child {
        right: 30px;
    }

    textarea {
        width: 200px;
    }

    .form_ball {
        width: 50px;
        height: 50px;
        font-size: 8px;
    }
       .money_box {
        height: auto;
        padding-top: 30px;

    }
}

@media only screen and (max-width: 520px) {
    .li_0 {
        display: flex;
    }

    .form_ball {
        width: 50px;
        height: 50px;
        font-size: 8px;
    }

    nav {
        display: none;
    }
}